body {
    background: #000;
    font-family: 'Send Flowers', sans-serif;
}

#canvas-wrap {
    position: relative;
    width: 800px;
    height: 600px
}

#canvas-wrap canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0
}

.container {
    color: white;
    z-index: 10;
    position: relative;
    background-color: transparent;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Micromodal stuff here */

.modal {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__container {
    background-color: #fff;
    padding: 30px;
    max-width: 500px;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #00449e;
    box-sizing: border-box;
}

.modal__close {
    background: transparent;
    border: 0;
}

.modal__header .modal__close:before {
    content: "\2715";
}

.modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, .8);
}

.modal__btn {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: rgba(0, 0, 0, .8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.modal__btn:focus,
.modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.modal__btn-primary {
    background-color: #00449e;
    color: #fff;
}


/**************************\
    Demo Animation Style
  \**************************/

@keyframes mmfadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes mmfadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes mmslideIn {
    from {
        transform: translateY(15%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes mmslideOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10%);
    }
}

.micromodal-slide {
    display: none;
}

.micromodal-slide.is-open {
    display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
    will-change: transform;
}

button {
    font-size: 30px;
    font-family: 'Send Flowers';
    line-height: 30px;
    padding: .618em 1em;
    border-radius: 10px 10px 12px 12px;
    box-shadow: 0px 8px 0px 0px #2980b9, /* button thickness */
    0px 0 20px rgba(255, 255, 255, .2) inset, /* inner glow */
    2px 30px 0px rgba(255, 255, 255, .1) inset, /* sublte reflection */
    5px 15px 30px -10px #000;
    /* dark shadow underneath */
    border: 1px solid #2980b9;
    cursor: pointer;
    background: #3498db;
    color: #ecf0f1;
    text-shadow: 1px 1px 1px #34495e;
    transform: rotateX(5deg);
    margin: 10px 10px;
    width: 280px;
    text-align: center;
}

button i {
    padding-right: 17px;
    transform: scale(1.1) translate(0, -1px);
}

button:hover {
    margin-top: 15px;
    margin-bottom: 5px;
    box-shadow: 0px 5px 0px 0px #2980b9, /* button thickness */
    0px 0 50px rgba(134, 243, 255, 1) inset, /* inner glow */
    5px 28px 0px rgba(255, 255, 255, .15) inset, /* sublte reflection */
    0px 0px 30px rgba(134, 243, 255, .2), /* outer glow */
    5px 15px 30px -10px #000;
    /* dark shadow underneath */
    color: #fff;
    filter: saturate(1.5);
}

button:hover i {
    transform: rotate(-12deg) translate(1px, -3px) scale(1.2);
}

button:active {
    margin-top: 18px;
    margin-bottom: 2px;
    box-shadow: 0px 2px 0px 0px #2980b9, /* button thickness */
    0px 0 100px 10px rgba(134, 243, 255, 1) inset, /* inner glow */
    5px 25px 0px rgba(255, 255, 255, .1) inset, /* sublte reflection */
    0px 0px 30px rgba(134, 243, 255, .5), /* outer glow */
    5px 15px 30px -10px #000;
    /* dark shadow underneath */
    filter: saturate(1.7);
}

button:active i {
    transform: rotate(-22deg) translate(2px, -5px) scale(1.3);
}

.black {
    filter: grayscale(100%) brightness(25%);
}

.black:hover {
    filter: grayscale(100%) brightness(50%);
}

.black:active {
    filter: grayscale(100%) brightness(75%);
}

.red {
    filter: hue-rotate(155deg);
}

.red:hover {
    filter: hue-rotate(155deg) saturate(1.5);
}

.red:active {
    filter: hue-rotate(155deg) saturate(1.7);
}

.green {
    filter: hue-rotate(255deg) saturate(.8);
}

.green:hover {
    filter: hue-rotate(255deg) saturate(1);
}

.green:active {
    filter: hue-rotate(255deg) saturate(1.2);
}